.universalBtn {
  border: none;
  color: white;
  background-color: #003566;
  position: relative;
  padding: 15px 21px;
  margin: 1cm;
  border-radius: 30px;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
